{% extends "base.html" %}

{% block content %}
    <div class="wrap">
        <div class="container">
            <div class="wBox">
                <h3>Test Location</h3>
                <p><div class="position">000:000</div></p>
                <div class="refresh"><input type="button" onclick="refreshLocation()" value="Get Location"></div>
            </div>
        </div>
    </div>


    <script>
        function refreshLocation() {
            $(document).ready(function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        let latitude = Number(position.coords.latitude).toFixed(1);
                        let longitude = Number(position.coords.longitude).toFixed(1);
                        console.log(latitude + ':' + longitude);
                        $('.position').text(latitude + ':' + longitude);
                    });
                }
            });
        }
    </script>

{% endblock %}
